:root {
  --mustard-yellow: #FFD23F;
  --red: #FF1B1C;
  --black: #090909;
  --green: #0CCE6B;
  --blue: #3772FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-size: 16px;
  color: white;
  background-color: black;
  width: 100%;
}

#container {
  height: 100%;
  width: 100%;
  background-color: var(--mustard-yellow);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#container>* {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

#header,
#footer {
  flex: 0 1 10%;
  background-color: blueviolet;
}

#main {
  flex: 2;
  background-color: darkgreen;

}

#header {
  display: flex;
  flex-direction: column;

}

.playerScores {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.playerScores>* {
  flex: 0 1 50%;
}

#header>* {
  flex: 1;
}

.boardContainer {
  display: flex;
  height: 100%;
  width: 100%;
  flex: 1;
}

table {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
}


table,
th,
td {
  border: 1px solid;
}

tbody {
  display: flex;
  flex-direction: column;
  flex: 1;
}

tr {
  display: flex;
  flex: 1;
}

td {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  cursor: pointer;
}

td {
  text-align: center;
  font-size: 2rem;
}


/* Modal*/


.modal {
  min-height: 250px;
  width: 450px;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  gap: 0.4rem;
  /* padding: 1.3rem; */

  position: absolute;
  top: 20%;

  border: 1px solid #090808;
  border-radius: 15px;
}

.topLevel {
  display: flex;
  background-color: black;
  justify-content: flex-end;
  width: 100%;
}