* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-size: 16px;
  color: white;
  background-color: black;
  width: 100%;
}

#container {
  height: 100%;
  width: 100%;
  background-color: lightskyblue;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#container>* {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

#header,
#footer {
  flex: 0 1 10%;
  background-color: blueviolet;
}

#main {
  flex: 2;
  background-color: darkgreen;

}

.boardContainer {
  display: flex;
  height: 100%;
  width: 100%;
  flex: 1;
}

table {
  height: 100%;
  width: 100%;
}


table,
th,
td {
  border: 1px solid;
}